$black-primary:#3D3D3D;
$black-secondary:#4b4c4d;
$black-light:#707070;
$gray-primary:#F3F3F3;
$gray-secondary:#EAEAEA;
$orange-primary:#F49F54;
$orange-secondary:#FB9A08;
$orange-light:#FBBD08;
$blue-primary:#29A1F7;
$blue-light:#11CDEF;